.container-nota {
  min-width: 150px;
  max-height: 250px;
  border-radius: 4px;
  background-color: #ecf56a;
  margin: 8px;
  padding: 8px;
  text-align: left;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.281);
}

.title-nota {
  text-align: left;
}

.nota-tags {
  display: flex;
  font-size: 12px;
}

.tag {
  margin-right: 6px;
}
